img {
    width: 100%;
    height: auto;
}

/*banner*/
#banner {
    background-position: top center;
    background-size: cover;
    background-image: url("../images/Background4.jpg");
    position: relative;
    background-attachment: fixed;
    min-height: 889px;
}

#banner .banner-text {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    color: #f3f3f3;
    font-size: 1.3em;
}

#banner .banner-text h1 {
    font-weight: 800;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 2px;
}

#banner:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}

/*about me*/

#about {
    padding-top: 120px;
    padding-bottom: 160px;
}

#about .about-info-container {
    background-color: #f3f3f3;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.01);
}

#about .about-info-container .about-info {
    text-align: right;
    padding-right: 50px;
}

#about .about-info-container .about-info .info-item img {
    width: 100px;
    border-radius: 90px;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

#about .about-info-container .about-info .info-item p {
    margin-bottom: 10px;
}

#about .about-info-container .about-info .info-item span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
}

#about .about-info-container .about-skills {
    padding-left: 50px;
}

#about .about-info-container .about-skills h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

#about .about-info-container .about-skills .progress-box {
    margin-bottom: 20px;
}

#about .about-info-container .about-skills .progress-box p {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
}

#about .about-info-container .about-skills .progress-box .progress {
    height: 2px;
}

#about .about-info-container .about-skills .progress-box .progress .progress-bar {
    background-color: #616161;
}

/* Portfolio */
#portfolio {
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #f2f2f2;
}

.portfolio-items .single-item {
    margin-bottom: 30px;
}

.portfolio-items .single-item .popup {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.portfolio-items .single-item .popup img {
    width: 100%;
    transition: transform .5s ease-in-out;
}

.portfolio-items .single-item .popup:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: background-color .6s ease-in-out;
}

.portfolio-items .single-item .popup:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-items .single-item .popup:hover img {
    transform: scale(1.2);
}

/* Services */

#services {
    padding-top: 120px;
    padding-bottom: 110px;
}

#services .services-item {
    text-align: center;
    padding: 30px 20px;
    background-color: #f2f2f2;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#services .services-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
}

#services .services-item .fa {
    margin-bottom: 20px;
}

#services .services-item h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Contact */
#contact {
    padding-top: 120px;
    padding-bottom: 160px;
}

#contact h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
}

#contact .contact-item h4 {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 21px;
}

#contact .contact-item p {
    font-size: 14px;
    line-height: 24px;
}

#contact form .form-group {
    margin-bottom: 24px;
}

#contact form .form-group .form-control {
    font-size: 14px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #cccccc;
    height: 52px;
    transition: all .4s ease;
}

#contact form .form-group textarea.form-control {
    height: auto;
}

#contact form .form-group .con-error {
    border-color: red;
}

#contact form .form-control:hover,
#contact form .form-control:active,
#contact form .form-control:focus {
    box-shadow: none;
    border-color: #666666;
}

/*Footer*/

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #111;
    text-align: center;
}

footer ul.social-icons {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer ul.social-icons li {
    display: inline-block;
    margin: 0 15px;
}

footer ul.social-icons li:first-child {
    margin-left: 0;
}

footer ul.social-icons li:last-child {
    margin-right: 0;
}

footer ul.social-icons li a {
    color: #757575;
    font-size: 16px;
    transition: all .4s ease;
}

footer ul.social-icons li a:hover {
    color: #fff;
}

footer p {
    color: #757575;
    margin: 24px 0 0 0;
    font-size: 14px;
}
